.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
  padding: 0.5rem 2rem;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.navbarContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  position: relative;
}


.logoContainer {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
}


.navWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}


.navbar-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding-bottom: 4px;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

.join-button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.join-button:hover {
  background-color: white;
  color: #062840;
}
